@use "theme";

.root {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: theme.$grey-500;
  transition: background-color 250ms ease-in-out;
}

.success {
  background-color: theme.$green-400;
}

.error {
  background-color: theme.$red-400;
}

.pending {
  @include theme.pending;
}
