@import "src/theme";

.root {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: $grey-500;
  transition: background-color 250ms ease-in-out;
}

.success {
  background-color: $green-400;
}

.error {
  background-color: $red-400;
}

.pending {
  @include pending;
}
