@use "theme";

.root {
  padding: theme.spacing(4);
}

.formControl {
  margin: theme.spacing(1);
}

.spacer {
  height: theme.spacing(4);
  width: 1px;
}

.link {
  @media (prefers-color-scheme: dark) {
    color: theme.$primary-light;
  }

  @media (prefers-color-scheme: light) {
    color: theme.$primary-dark;
  }
}
