@use "theme";

.root {
  padding: theme.spacing(4);
}

.spacer {
  height: theme.spacing(4);
  width: 100%;
}

.separator {
  border: none;
  border-top: 1px solid theme.$grey-400;
}

.pending {
  @include theme.pending;
}
