@mixin pending {
  animation: pendingAnimation 1s infinite;
}

@mixin flicker {
  animation: flickerAnimation 1s infinite;
}

@keyframes pendingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
