@use "~@material/theme/color-palette" as material;

$grey-200: material.$grey-200;
$grey-300: material.$grey-300;
$grey-400: material.$grey-400;
$grey-500: material.$grey-500;

$green-200: material.$green-200;
$green-400: material.$green-400;

$red-400: material.$red-400;
$red-500: material.$red-500;

$blue-500: material.$blue-500;

$primary-50: material.$orange-50;
$primary-100: material.$orange-100;
$primary-200: material.$orange-200;
$primary-300: material.$orange-300;
$primary-400: material.$orange-400;
$primary-500: material.$orange-500;
$primary-600: material.$orange-600;
$primary-700: material.$orange-700;
$primary-800: material.$orange-800;
$primary-900: material.$orange-900;
$primary-a100: material.$orange-a100;
$primary-a200: material.$orange-a200;
$primary-a400: material.$orange-a400;
$primary-a700: material.$orange-a700;
$primary-light: $primary-400;
$primary-main: $primary-700;
$primary-dark: $primary-800;

$secondary-50: material.$light-blue-50;
$secondary-100: material.$light-blue-100;
$secondary-200: material.$light-blue-200;
$secondary-300: material.$light-blue-300;
$secondary-400: material.$light-blue-400;
$secondary-500: material.$light-blue-500;
$secondary-600: material.$light-blue-600;
$secondary-700: material.$light-blue-700;
$secondary-800: material.$light-blue-800;
$secondary-900: material.$light-blue-900;
$secondary-a100: material.$light-blue-a100;
$secondary-a200: material.$light-blue-a200;
$secondary-a400: material.$light-blue-a400;
$secondary-a700: material.$light-blue-a700;
$secondary-light: $secondary-400;
$secondary-main: $secondary-700;
$secondary-dark: $secondary-800;
