@import "node_modules/@material/theme/color-palette";

$primary-50: $orange-50;
$primary-100: $orange-100;
$primary-200: $orange-200;
$primary-300: $orange-300;
$primary-400: $orange-400;
$primary-500: $orange-500;
$primary-600: $orange-600;
$primary-700: $orange-700;
$primary-800: $orange-800;
$primary-900: $orange-900;
$primary-a100: $orange-a100;
$primary-a200: $orange-a200;
$primary-a400: $orange-a400;
$primary-a700: $orange-a700;
$primary-light: $primary-400;
$primary-main: $primary-700;
$primary-dark: $primary-800;

$secondary-50: $light-blue-50;
$secondary-100: $light-blue-100;
$secondary-200: $light-blue-200;
$secondary-300: $light-blue-300;
$secondary-400: $light-blue-400;
$secondary-500: $light-blue-500;
$secondary-600: $light-blue-600;
$secondary-700: $light-blue-700;
$secondary-800: $light-blue-800;
$secondary-900: $light-blue-900;
$secondary-a100: $light-blue-a100;
$secondary-a200: $light-blue-a200;
$secondary-a400: $light-blue-a400;
$secondary-a700: $light-blue-a700;
$secondary-light: $secondary-400;
$secondary-main: $secondary-700;
$secondary-dark: $secondary-800;
