@use "theme";

.cardContent {
  & > *:not(:first-child) {
    margin-top: theme.spacing(4);
  }
}

.chipsContainer {
  padding: theme.spacing(1, 0);
  & > *:not(:first-child) {
    margin-left: theme.spacing(2);
  }
}
